{% extends 'base.html.twig' %}

{% block title %}Contact Form{% endblock title %}

{% block body %}

    <div>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>

{% endblock %}